.item {
    flex: 1 0 25%; /* Adjust the value as needed */
    /* Add additional styles as desired */
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.containerChild img {
    width: 100%;
    height: 100%
}

.containerChild {
    flex: 1;
    padding: 20px;
}

h2 {
    color: #2b2622;
    font-family: 'Playfair Display', sans-serif;
    font-size: 38px;
    line-height: 46px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: none;
}

h6 {
    color: #731e66;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

p {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
    text-transform: none;
    color: #353535;
}