.embla {
    overflow: hidden;
    height: 400px;
}

.embla img {
    height: 400px;
 }

.embla__container {
    display: flex;
}
.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}

.MultiCarousel .MultiCarousel-inner .item > div{overflow:hidden}
img { max-width:100%; }