.logo {
    display: table-cell;
    position: relative;
    top: auto;
    vertical-align: middle;
}

.logoWrapper {
    display: table;
    height: 100px;
}

.container {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
}

.containerWrapper {
    display: grid;
    width: 100%;
}

.optionList {
    width: 100%;
}

.burger {
    flex: 1;
}

.logo img {
    height: 55px;
}

.header {
    margin-left: 50px;
    margin-right: 50px;
}

.icon {
    color: #b39f89;
}

.multiLanguage {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    justify-content: space-between;
    background-color: #907c6c;
    top: 0px;
}

.outerWrapper {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    justify-content: space-between;
    background-color: #907c6c;
    top: 0px;
}
.item {
    font-size: 20px;
}

.innerWrapperLeft, .innerWrapperRight {
    flex: 1;
    display: flex;
    min-width: -webkit-min-content; /* Workaround to Chrome bug */
}
.innerWrapperRight {
    justify-content: flex-end;
}

.innerWrapperCenter {
}