.menu {
    width: 100%;
    float: left;
    position: relative;
    top: 0;
    text-align: left;
    overflow: hidden;
    background-color: #fff;
    z-index: 100;
}

.menu ul {
    margin-bottom: -1px!important;
}