@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
    box-sizing: border-box;
    overflow-y: hidden;
}

body {
    margin: 0;
    background-color: white;
}

html body {
    padding: 0;
    margin: 0;
    overflow-y: inherit;
}

button {
    font: inherit;
    cursor: pointer;
    background-color: #800040;
    color: white;
    border: 1px solid #800040;
    border-radius: 8px;
    padding: 0.75rem 2rem;
}

button:hover,
button:active {
    background-color: #630032;
    border-color: #630032;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

ul {
    margin: 0px;
    padding-left: 0px;
}

* {
    /*outline: 1px solid red;*/
}